@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex; 
    justify-content: center;
    align-items: center;      
}
h1 {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    color: #fff;
    top: 30px;  
}
.container {
    display: flex;       
}
.video1 {
    position: fixed;
    top: 100px;
    left: 600px; 
}
.video2 {
    position: fixed;
    top: 100px;
    left: 950px;
}
.video3 {
    position: fixed;
    top: 510px;
    left: 600px;
}
.video4 {
    position: fixed;
    top: 510px;
    left: 950px;
}
.container img  {
    width: 280px;
    height: 400px;
    border-radius: 10px;
}
.tituloaredesocial ,.titulojobs, .tituloojogodaimitacao, .titulotheplaylist{
    position: fixed;
    top: 30px;
    left: center;
}
.traileraredesocial ,.trailerjobs, .trailerojogodaimitacao, .trailertheplaylist{
    position: fixed;
    top: 110px;
    left: center;
}
#videoaredesocial ,#videojobs, #videoojogodaimitacao, #videotheplaylist{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid rgb(4, 152, 238);
}
#voltar{
    position: fixed;
    top: 800px;
    left: center;
}


  






